<app-header></app-header>

<app-main-menu *ngIf="gameState === GameState.Menu" (playClicked)="onStartGame()"></app-main-menu>

<div *ngIf="gameState === GameState.Game" class="game-content">
  <app-score></app-score>

  <app-syllable></app-syllable>
  <app-countdown></app-countdown>
  <app-user-input></app-user-input>
</div>

<div *ngIf="gameState === GameState.Score" class="game-over">
  <h1>Score : <app-score></app-score></h1>
  <!-- Autres éléments à afficher lorsque le jeu est terminé -->
  <div class="buttons">
    <button (click)="backToMenu()">Menu</button>
    <button (click)="onStartGame()">Play</button>
  </div>

  <app-possible-words></app-possible-words>


</div>
