.possible-words {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
}

.word-columns {

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.word {
  margin-right: 10px; /* Espacement entre les mots */
}
